<%# added bootstrap classes for 'field_container' and '' %>
<div data-hook="supplier_details_wrapper" class="col-md-6">
    <fieldset class="no-border-bottom">
        <%= form.field_container :name, class: ['form-group'] do %>
            <%= form.label :name, Spree::Supplier.human_attribute_name(:name) %>:<br />
            <%= form.text_field :name, :class => 'form-control' %>
        <% end %>
        <%= form.field_container :slug, class: ['form-group'] do %>
            <%= form.label :slug, Spree::Supplier.human_attribute_name(:slug) %>:<br />
            http://www.cuteness.com/<%= form.text_field :slug, :class => 'form-control' %>
        <% end %>
        <%= form.field_container :description, class: ['form-group'] do %>
            <%= form.label :description, Spree::Supplier.human_attribute_name(:description) %>:<br />
            <%= form.text_area :description, :class => 'form-control' %>
        <% end %>
        <%= form.field_container :banner, class: ['form-group'] do %>
            <%= form.label :banner, Spree::Supplier.human_attribute_name(:banner) %> (Note - Image size is 700x230 pixels):<br />
            <% if @supplier.banner? %>
            <%= image_tag @supplier.banner.url(:large), class: "banner-image" %><br/><br/>
            <% end %>
            <%= form.file_field :banner, :class => 'form-control' %>
        <% end %>
    </fieldset>
</div>