<h1><%== Spree.t(:editing_shop) + " &ldquo;#{@supplier.name}&rdquo;".html_safe %></h1>

<%= render 'spree/shared/error_messages', target: @supplier %>

<%= form_for @supplier do |f| %>
    <%= render "form", form: f %>
    <div class="col-md-8">
        <%= render :partial => 'spree/shared/edit_resource_links' %>
    </div>
<% end %>